<main class="py-10 px-6 lg:px-16">
  <h2 class="capitalize text-center text-2xl sm:text-4xl mb-10">conoce sobre nosotros</h2>
  <div class="flow flow-col md:grid md:grid-cols-2 md:gap-6">
    <img class="pb-4 md:p-0" src="./assets/img/nosotros.jpg" alt="about us">
    <div>
      <p class="pb-4 text-center md:text-left text-xl md:text-3xl font-semibold">25 Años de experiencia</p>
      <p class="leading-relaxed text-justify pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis ipsum nesciunt sit sequi. Praesentium nisi iusto delectus distinctio adipisci, iure doloribus exercitationem reiciendis sunt similique optio at voluptatum inventore laudantium?</p>
      <p class="leading-relaxed text-justify pb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate reiciendis sequi incidunt inventore quaerat libero? Laboriosam, repudiandae assumenda maiores iure modi itaque rem porro in quod cupiditate libero perferendis est.</p>
      <p class="leading-relaxed text-justify pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio officiis facere quisquam nostrum necessitatibus enim soluta tempora quis cumque obcaecati repellendus eligendi deserunt repudiandae esse, dolore provident illum ullam velit?</p>
    </div>
  </div>
</main>

<app-about-us></app-about-us>
