<app-header></app-header>
<app-about-us></app-about-us>
<app-houses></app-houses>

<section>
  <div>
    <h2>Encuentra la casa de tus sueños</h2>
    <p>Llena el formulario y un asesor de pondrá en contacto contigo</p>
    <!-- Todo routing -->
    <a href="#">Contáctanos</a>
  </div>
</section>

<div class="">
  <app-blog></app-blog>

  <section class="testimoniales">
    <h3></h3>
    <div>
      <blockquote>
        El personal se comportó de una excelente forma, muy buena atención y la casa que me ofrecieron
        cumple
        con
        todas
        mis expectativas".
      </blockquote>
      <p>- A. Vargas</p>
    </div>
  </section>
</div>

<app-footer></app-footer>
